* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: #53736a;
  color: white;
}

h1 {
  background-color: #024554;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 500px;
  height: 70px;
}

.todo-add {
  display: flex;
}

.input-class {
  background-color: #536973;
  color: white;
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

.icon-class {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  background-color: #c2c0a6;
  color: white;
  cursor: pointer;
}

li {
  display: flex;
  align-items: center;
  width: 500px;
  height: 40px;
  background-color: #a8b545;
  border-bottom: 1px solid white;
}

li:hover {
  transform: translate(3px, 2px);
}
i.fa-solid.fa-circle {
  color: #6a8c69;
}

li i {
  padding: 1rem;
}

li p {
  width: 450px;
}

li.checked p {
  text-decoration: line-through;
  color: #53736a;
}

li.checked i.fa-solid.fa-circle {
  color: #c2c0a6;
}

i.fas.fa-trash:hover {
  color: red;
}
::placeholder {
  color: #a8b545;
}
